@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.App {
  font-family: 'Montserrat';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.Header {
  margin: 50px 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-background {
  background-image: url('../public/assets/hero-image.png');
  width: 100%;
  height: 1100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-background-card {
  width: 40%;
  border-radius: 20px;
  background-color: #dfe9f4;
  position: relative;
  display: block;
  float: right;
  padding: 50px;
  margin-right: 100px;
  margin-top: 250px;
}

.Product {
  display: grid;
  width: 100%;
  place-items: center;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px
}

.margin {
  margin: 20px;
}

.margin2 {
  margin: 40px;
}

.logo {
  margin-top: 20px;
}

.Value-box {
  display: flex;
  margin: 10px;
  padding: 20px;
  justify-content: space-between;
}

.Value-banner {
  background-color: #f2f5ff;
  margin: 0px;
}

.text {
  font-size: 25px;
  /* text-indent: 50px; */
  line-height: 2.0;
}

.header1 {
  font-size: 85px;
  color: #054c73;
}

.header5 {
  font-size: 25px;
}

.button {
  background-color: #054c73;
  padding: 30px 80px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
}

@media screen and (max-width: 750px) {
  .Product {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    gap: 10px;
    padding: 10px
  }

  .Value-box {
    display: block;
    text-align: center;
    padding: 20px;
    justify-content: space-between;
  }

  .App-background {
    background-image: url('../public/assets/hero-image.png');
    width: 100%;
    height: 800px;
    text-align: justify;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header1 {
    font-size: 35px;
    color: #054c73;
  }

  .App-background-card {
    width: 50%;
    border-radius: 20px;
    background-color: #dfe9f4;
    position: relative;
    display: block;
    float: right;
    padding: 50px;
    margin-right: 100px;
    margin-top: 100px;
  }

  .text {
    font-size: 20px;
    line-height: 1.8;
  }

  .button {
    background-color: #054c73;
    padding: 20px 70px;
    font-size: 20px;
    color: white;
    border-radius: 50px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
